html, body {
    height: 100%;
}
.dnp-header {
    position: fixed;
    text-align: center;
    background-color: #EEEEEE;
    margin: 0;
    padding: 20px 0 20px;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dnp-header__text {
    margin: 0;
}

.intro-container {
    margin-top: 100px;
    height: calc(100% - 100px);
    padding: 20px 0 20px;
    text-align: center;
    display: flex;
    align-items: center;
}

.menu-container {
    width: 80%;
}

.sidebar {
    width: 300px;
    height: 100%;
    top: 100px;
    left: 0;
    position: fixed;
    z-index: 10;
    background-color: white;
}

.main-view-container {
    position: absolute;
    display: flex;
    left: 300px;
    top: 100px;
    height: calc(100% - 100px);
    overflow-y: scroll;
}

#menu-toggle-button {
    visibility: hidden;
    width: 0;
    height: 0;
    display: block;
}

.menu-item__image {
    width: 100%;
    padding-top:100%;
    background-size: cover;
}
.menu-item__label {
    font-size: 15px;
}

.confirmation-header {
  padding: 20px;
}

.confirm-container {
    margin-top: 100px;
    padding-bottom: 20px;
}

#confirmation-header-guests___span {
  margin-top: 20px;
}

#confirmation-header-back___button {
  margin-top: 20px;
  text-align: right;
}

.confirm-view-item___image {
  width: 100%;
}

.confirm-view-item___label {
    font-size: 15px;
}

#print-btn___container{
    margin-top: 40px;
}

#search-view {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

#search-view___input{
  margin: 0px 20px 0px 0px;
}

.dish-container{
  padding: 10px 20px 10px 20px;
}

.dish-preview-img {
  width: 100%;
  max-height: 360px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

#sidebar-total-price {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 20px;
}

#guests-number-list {
  margin-left: 10px;
}
#menu-toggle-header {
    background-color: white;

}
#create-new-dinner-button {
    margin-top: 30px;
}
@media (max-width: 480px) {
    .main-view-container {
        display: initial;
        width: auto;
        left: initial;
    }

    .dish-container{
      padding: 10px 0 10px 0;
    }

    #menu-toggle-header {
        display: flex;
        flex-direction: row;
        visibility: visible;
        text-align: right;
        padding: 10px;
    }

    #menu-toggle-header > #label {
        flex-grow:5;
        text-align:left;
    }

    #menu-toggle-header > #price {
        flex-grow:3;
        text-align:left;
    }

    .sidebar {
        max-width: initial;
        display: none;
        width: 100%;
        height: 20%;
        top: 145px;
    }

    #confirm-dinner-btn {
      margin: 10px 0 10px 0;
    }
    #menu-toggle-button {
        top: 100px;
        position: fixed;
        width: 100%;
        height: 45px;
        z-index: 20;
    }

    #confirmation-header-guests___span {
        text-align: center;
    }

    #confirmation-header-back___button {
      text-align: center;
    }
}
