html,
body {
    height: 100%;
}

.dnp-header {
    position: fixed;
    text-align: center;
    background-color: #EEEEEE;
    margin: 0;
    padding: 20px 0 20px;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dnp-header__text {
    margin: 0;
}

.intro-container {
    margin-top: 100px;
    height: calc(100% - 100px);
    padding: 20px 0 20px;
    text-align: center;
    display: flex;
    align-items: center;
}

.menu-container {
    width: 80%;
}

.sidebar {
    width: 300px;
    height: 100%;
    top: 100px;
    left: 0;
    position: fixed;
    z-index: 10;
}

.main-view-container {
    position: absolute;
    display: flex;
    left: 300px;
    top: 100px;
    height: calc(100% - 100px);
    width: calc(100% - 300px);
    overflow-y: scroll;
}

#menu-toggle-button {
    visibility: hidden;
    width: 0;
    height: 0;
    display: block;
}

.menu-item__image {
    width: 100%;
    padding-top: 100%;
    background-size: cover;
}

.menu-item__label {
    font-size: 15px;
}

#print-btn___container {}

#search-view {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

#search-view___input {
    margin: 0px 20px 0px 0px;
}

.dish-container {
    padding: 10px 20px 10px 20px;
}

.dish-preview-img {
    width: 100%;
    max-height: 360px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

#sidebar-total-price {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 20px;
}

#guests-number-list {
    margin-left: 10px;
}

#menu-toggle-header {
    background-color: white;
}

#create-new-dinner-button {
    margin-top: 30px;
}


/* CONFIRM VIEW */

.confirm-container {
    padding-bottom: 20px;
    margin: 100px auto 0;
    justify-content: center;
}

.confirm-header {
    width: 100%;
    border-bottom: 2px solid black;
}

.confirmation-footer {
    border-top: 2px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.cart-summary {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.cart-summary__items {
    display: flex;
    padding: 30px;
    flex-grow: 8;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-summary__item {
    width: 200px;
    height: 200px;
}

.cart-summary__sidebar {
    flex-grow: 3;
    min-width: 200px;
}

.cart-summary__price-container {
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
}

.cart-summary-item-container {
    margin: 10px;
}
.cart-summary-item-container__border {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: flex-end;
    border: 2px solid black;
    background-size: cover;
    background-repeat: no-repeat;
}

.cart-summary__item-image {
    width: 200px;
    height: 200px;
}

.confirmation-header {
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.confirmation-header-text {
    margin-top: 0;
}

.confirm-view-item___image {
    width: 200px;
    padding: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
.cart-summary-item-container__label {
    font-size: 15px;
    width: 100%;
    background-color: white;
    padding: 10px 2px;
    margin: 0;
    text-align: center;
}

@media (max-width: 480px) {
    .main-view-container {
        display: initial;
        width: auto;
        left: initial;
    }
    .dish-container {
        padding: 10px 0 10px 0;
    }
    #menu-toggle-header {
        display: flex;
        flex-direction: row;
        visibility: visible;
        text-align: right;
        padding: 10px;
    }
    #menu-toggle-header>#label {
        flex-grow: 5;
        text-align: left;
    }
    #menu-toggle-header>#price {
        flex-grow: 3;
        text-align: left;
    }
    .sidebar {
        max-width: initial;
        display: none;
        width: 100%;
        height: 30%;
        top: 145px;
        background-color: #dee2e8;
        overflow: scroll;
    }
    #confirm-dinner-btn {
        margin: 10px 0 10px 0;
    }
    #confirm-dinner-btn___a {
        text-align: center;
    }
    #menu-toggle-button {
        top: 100px;
        position: fixed;
        width: 100%;
        height: 45px;
        z-index: 20;
    }
    #confirmation-header-guests___span {
        text-align: center;
    }
    #confirmation-header-back___button {
        text-align: center;
    }
    /* CONFIRM VIEW */
    .cart-summary {
        flex-direction: column;
    }
    .cart-summary__items {
        flex-direction: column;
        align-items: center;
    }
    .cart-summary__price-container {
        border-left: none;
        border-top: 2px solid black;;
    }
}