.dnp-header {
    text-align: center;
    background-color: #EEEEEE;
    margin: 0;
    padding: 20px 0 20px;
}

.dnp-header__text {
    margin: 0;
}

.intro-container {
    padding: 20px 0 20px;
    text-align: center;
}

#introView {
  width: 100%;
}

.menu-container {
    width: 80%;
}

.sidebar {
    width: 40%;
    max-width: 300px;
    border: 2px solid black;
}

.main-view-container {
    display: flex;
}

#menu-toggle-button {
    display: none;
}

#create-new-dinner-button {
  margin-top: 20px;
}

.search-view {
    display: flex;
    flex-wrap: wrap;
}
.menu-item {
    width: 240px;
    padding: 4px;
}
.menu-item__image {
    width: 100%;
}
.confirmation-header {

}
.cart-summary {
    display: flex;
}
/* MEDIA QUERIES */

@media (max-width: 480px) {
    .main-view-container {
        display: initial;
    }
    #menu-toggle-button {
        display: block;
        text-align: right;
        border: 2px solid black;
    }
    .sidebar {
        width: 100%;
        max-width: initial;
    }
}
